doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/jquery_min.js')
    script(src="javascripts/socket.io.js")
    
  body
    block content
    div#world
    canvas#floor
  script(type='text/javascript', src='javascripts/client.js')


